.bg-custom {
	background-color: #fff !important;
	transition: 0.3s;
	color: gray !important;
}

.bg-custom:hover {
	background-color: #6884e7 !important;
	color: #fff !important;
}

.bg-custom-sm {
	background-color: #6884e7 !important;
	transition: 0.3s;
	color: #fff !important;
}

.bg-custom-sm:hover {
	background-color: #3950a5 !important;
	color: #fff !important;
}

.bg-active {
	background-color: transparent !important;
	transition: 0.3s;
	color: #6884e7 !important;
}

.navbar {
	width: 100%;
}

.link-navbar {
	color: gray !important;
	transition: 0.3s;
}

.link-navbar:hover {
	color: #6884e7 !important;
	transition: 0.3s;
}